body {
  font-family: 'Raleway';
  text-align: center;
  font-size: 8pt;
}

#title {
  align-items: center;
  justify-items: center;
  height: 100vh;
  background-color: rgba(12, 3, 31, 0.849);
  color: white;
}

#about {
  background-color: rgb(223, 253, 253);
}

#projects {
  background-color: rgb(253, 223, 223);
}

#interests {
  background-color: rgb(253, 253, 223);
}

#contact {
  /* background-color: rgb(253, 223, 253); */
  background: #252934;
  padding-top: 175px;
  color: white;
}

section:nth-of-type(5) .header-title {
  color: #fff;
}

section:nth-of-type(5) .header-bar {
  margin: 25px 0 40px 0;
  background: #fff;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: grid;
  padding: 70px 0 70px 0;
  color: #616161;
  line-height: 11pt;
}

.display-items {
  display: grid;
  /* align-items: center;
  justify-items: center; */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100vw;
}

.display-items > .div {
  min-height: 70px;
}

.fit-logo {
  max-width:100%;
  margin:auto;
}

.text {
  font-size: 32pt;
  line-height: 36pt;
  margin: 0 0 20px 0;
}

.highlight {
  color: #E31B6D;
  font-family: 'Raleway-semibold';
}

.header {
  /* margin-top: 20px; */
}

.header-title {
  font-family: 'raleway-bold';
  color: #444649;
  font-size: 35pt;
  margin-bottom: 0;
}

.header-bar {
  margin: 15px 0 75px 0;
  width: 70px;
  height: 4px;
  background: #444649;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #1B242F;
  padding: 70px 0 50px 0;
  position: relative;
}

.icon-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
  color: white;
}

.footnote {
  font-size: 10pt;
  color: #8F9AA7;
  margin-top: 35px;
  opacity: 0.6;
}

.placeholder-box {
  border: 2px solid #289792;
  border-radius: 5px;
  background-color: #a8ffb4;
  padding: 1em;
  color: #d9480f;
}

.display-items > div {
  border: 2px solid #289792;
  border-radius: 5px;
  background-color: #a8ffb4;
  padding: 1em;
  color: #d9480f;
}

* {box-sizing: border-box;}

.top-grid {
  display: grid;
  /* justify-items: center; */
  /* border: 2px solid #f76707;
  border-radius: 5px; */
  background-color: #fff4e6;
}

.top-grid > section {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  /* background-color: #ffd8a8; */
  /* color: #d9480f; */
}


@font-face {
  font-family: 'Raleway';
  src: url("http://findmatthew.com/style/../fonts/Raleway-Regular.ttf"); }
@font-face {
  font-family: 'Raleway-semibold';
  src: url("http://findmatthew.com/style/../fonts/Raleway-SemiBold.ttf"); }
@font-face {
  font-family: 'Raleway-bold';
  src: url("http://findmatthew.com/style/../fonts/Raleway-Bold.ttf"); }